.menu-home-page {
  @apply row-span-8 col-span-9 border border-black overflow-hidden rounded-xl font-medium;
  .logo {
    @apply p-7 h-1/8  text-4xl;
  }
  .menu-list {
    @apply h-3/4 px-2;
  }
  .menu-bottom {
    @apply h-1/8 px-4 py-3 space-y-3;
    .help {
      @apply flex justify-between items-center px-3;
      .help-left {
        @apply flex items-center space-x-2;
      }
      .help-right {
        @apply px-2 rounded py-1 border text-xs  text-black;
      }
    }
  }
  .switch-theme {
    @apply flex text-center border-2 rounded-2xl items-center py-2 text-sm overflow-hidden  border-black cursor-pointer;
    position: relative;
    .style-theme {
      @apply w-1/2 flex items-center justify-center space-x-2;
    }
    .theme {
      position: absolute;
      top: 4px;
      left: 0;
      @apply flex items-center justify-center w-1/2 font-medium;
      height: 75%;
    }
    .light-theme {
      @apply duration-500   rounded-2xl;
      transform: translateX(2%);
    }
    .dark-theme {
      @apply duration-500   rounded-2xl;
      transform: translateX(98%);
    }
  }
  .tree {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      border: 0.5px #79808a solid;
      top: 0;
      left: -27px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 18px;
      height: 70%;
      border-left: 1px #79808a solid;
      border-bottom: 1px #79808a solid;
      border-radius: 0px 0px 0px 7px;
      top: -20%;
      left: -27px;
    }
  }
  .tree-end {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 18px;
      height: 90%;
      border-left: 1px #79808a solid;
      border-bottom: 1px #79808a solid;
      border-radius: 0px 0px 0px 7px;
      top: -40%;
      left: -27px;
    }
  }
}

.nav-bar {
  @apply row-span-1 col-span-27  rounded-xl py-5 px-10  text-sm border border-black;
  .nav-bar-search {
    @apply w-5/13 h-full flex items-center rounded-xl p-1 border border-[#272a30];
    .search {
      @apply flex items-center justify-between rounded-xl  h-full w-full p-1;
      i {
        color: #798089;
      }
      input:focus {
        outline: none;
      }
      .search-left {
        @apply flex items-center w-4/5 space-x-3 h-full font-medium;
      }
      .search-icon {
        @apply text-white rounded-lg px-2 py-1;
      }
    }
  }
  .nav-bar-right {
    @apply flex justify-between h-full items-center  w-5/13;
    .button-create {
      @apply px-5 py-2 space-x-2  rounded-xl duration-150 hover:py-[10px] cursor-pointer;
    }
    .message {
      @apply text-xl relative cursor-pointer;
    }
    .bell {
      @apply text-xl relative cursor-pointer;
    }
    .dot-red {
      @apply absolute -right-0 top-1 h-2 w-2 rounded-full bg-red-500 cursor-pointer;
    }
  }
}

.list-user {
  @apply row-span-7 col-span-10 rounded-xl pt-2 px-3 text-xs border border-black;
  .item-user {
    @apply h-[11.1%] mb-1 py-3 flex  w-full   border-t  hover:rounded-xl duration-200 cursor-pointer;
    .item-user-left {
      @apply w-1/6 h-full px-2;
      .box {
        @apply border-gray-600 rounded border-2 h-5 w-5;
      }
    }
    .item-user-right {
      @apply w-5/6 flex items-center space-x-2 h-full;
    }
  }
}
.content-user {
  @apply col-span-17 row-span-7 rounded-xl px-5 py-3;
  //Header
  .header-user-content {
    @apply h-7/60  py-1 flex items-center;
    .header-user-content-left {
      @apply h-full flex w-1/2 space-x-4 items-center;
      .text-name {
        @apply text-lg font-bold block;
      }
      .text-mail {
        @apply font-medium text-xs block;
      }
    }
    .header-user-content-right {
      @apply flex w-1/2 items-center;
      .button-header-content {
        @apply flex items-center border-gray-500 border space-x-2 rounded-lg text-xs py-2 px-4 font-bold hover:py-[10px] duration-150 cursor-pointer;
      }
    }
  }
  //TextEditer

  //Contact
  .contact-user {
    @apply h-15/60 text-gray-400 text-lg;
    .contact-mail {
      @apply h-1/3 flex items-center space-x-3;
    }
    .contact-social {
      @apply h-1/3 flex items-center border-t-[0.5px] border-b-[0.5px] border-gray-600 space-x-7;
    }
    .contact-attachment {
      @apply h-1/3 flex items-center space-x-3;
    }
  }
  //Product
  .product-user {
    @apply h-22/60 text-xs;
    .product-item {
      @apply flex h-1/4 items-center  rounded p-2 cursor-pointer;
      img {
        @apply w-10 h-10 rounded-lg;
      }
      .text-name {
        @apply font-medium text-sm;
      }
      .text-link {
        @apply text-gray-400  text-xs;
      }
    }
  }
}
